@page "/"

<PageTitle>Добро пожаловать!</PageTitle>

<div class="accordion" id="accordionPanel">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Station Hostel
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
                 Хостел Station расположен в городе Атырау. Стойка регистрации открыта круглосуточно.
                На всей территории работает бесплатный Wi-Fi. В числе удобств — общая кухня.
                В распоряжении гостей камера хранения багажа и общий лаундж.
                <p>
                    <strong> Адрес: улица Баймуханова 64/1, 060009 Атырау, Казахстан.</strong>
                </p>
            </div>
    </div>
  </div>
 </div>
