<div class="top-row ps-3 navbar navbar-dark" style="height:100px;">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="/img/hostel-logo.svg" alt="LogoImg" height="75px" title="Лучший выбор!" /></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="whobooking">
                <span class="oi oi-list-rich" aria-hidden="true" style="left:8px"></span> Варианты размещения
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a href="https://www.booking.com/hotel/kz/station-hostel.ru.html" target="_blank">
                <span class="oi oi-book" aria-hidden="true" style="left:8px"></span> Booking.com
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
